<div class="character-header">
    <span class = "image-block" >
        <span style="font-size:80px;">&#x40;</span></span>
    <h2 class="character-name">{{characterName}}</h2>
</div>
<div class="attributes">
    
    <ul>
        <li>Gender:{{gender}}</li>
        <li>Hair Color:{{hairColor}}</li>
        <li>Strength:{{strength}}</li>
        <li>Intelligence:{{intelligence}}</li>
        <li>Wisdom:{{wisdom}}</li>
        <li>Dexterity:{{dexterity}}</li>
        <li>Number of Toes:{{numOfToes}}</li>
        <li>Eye Color:{{eyeColor}}</li>
        <li>Race:{{race}}</li>
        <li>Luck:{{luck}}</li>

    </ul>


</div>

<div *ngIf="!editDescription ;else elseBlock" class="description">
    <h3>Description:</h3> <button (click)="editCharacterDescription()"> Edit</button>
    <p>{{description}}</p>

</div>
<ng-template #elseBlock>
    <app-update-description [characterId] = 'id'></app-update-description>
</ng-template>
<button (click)='goBack()'>back</button>