<div class="input-gender">
  Gender
  <select name="gender">
    <option [value]="'female'">Female</option>
    <option [value]="'male'">Male</option>
    <option [value]="'other'">Other</option>
  </select>
</div>

<div class="input-hairColor">
  Hair Color
  <select name="hairColor">
    <option [value]="'blonde'">Blonde</option>
    <option [value]="'brunette'">Brunette</option>
    <option [value]="'redHair'">Red</option>
    <option [value]="'brownHair'">Brown</option>
  </select>
</div>

<div class="input-eyes">
  Eye Color
  <select name="eyes">
    <option [value]="'blue'">Blue</option>
    <option [value]="'brown'">Brown</option>
    <option [value]="'green'">Green</option>
    <option [value]="'red'">Red</option>
  </select>
</div>

<div class="input-race">
  Race
  <select name="race">
    <option [value]="'human'">Human</option>
    <option [value]="'dwarf'">Dwarf</option>
    <option [value]="'elf'">Elf</option>
    <option [value]="'unicorn'">Unicorn</option>
  </select>
</div>

<div class="input-strength">
  Strength
  <input type="number" id="Strength" name="Strength" min="1" max="10" />
</div>

<div class="input-intelligent">
  Intelligent
  <input type="number" id="Intelligent" name="Intelligent" min="1" max="10" />
</div>

<div class="input-wisdom">
  Wisdom <input type="number" id="Wisdom" name="Wisdom" min="1" max="10" />
</div>

<div class="input-dexterity">
  Dexterity
  <input type="number" id="Dexterity" name="Dexterity" min="1" max="10" />
</div>

<div class="input-luck">
  Luck <input type="number" id="Luck" name="Luck" min="1" max="10" />
</div>

<div class="input-toeNum">
  Number of Toes
  <input type="number" id="toeNum" name="toeNum" min="0" max="30" />
</div>

<button type="button">Save</button>
<button type="button">Cancel</button>
